 .MMM-EveryNews .everynews-wrapper {
  text-align: center;
  max-width: 600px;
}

.MMM-EveryNews .source {
  font-size: 16px;
  margin-bottom: 5px;
}

.MMM-EveryNews .title {
  font-size: 20px;
  font-weight: bold;
  color: #00ffff;
  margin-bottom: 10px;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
}

.MMM-EveryNews .image-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.MMM-EveryNews .image-wrapper {
  position: relative;
  width: 500px;
}

.MMM-EveryNews .photo {
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  height: auto;
  object-fit: cover;
  display: block;
}

.MMM-EveryNews .fallback-image {
  background: #333;
  color: #999;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-style: italic;
}

.MMM-EveryNews .qr-code {
  position: absolute;
  z-index: 10;
  background-color: #FFFFFF;
  padding: 5px;
}

.MMM-EveryNews .qr-code.top-left {
  top: 5px;
  left: 5px;
}

.MMM-EveryNews .qr-code.top-right {
  top: 5px;
  right: 5px;
}

.MMM-EveryNews .qr-code.bottom-left {
  bottom: 5px;
  left: 5px;
}

.MMM-EveryNews .qr-code.bottom-right {
  bottom: 5px;
  right: 5px;
}

.MMM-EveryNews .description {
  font-size: 16px;
  margin-top: 10px;
  overflow: hidden;
  color: cyan;
  max-width: 550px;
}

.MMM-EveryNews marquee {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  max-width: 550px;
}